.section-about {
  margin-top: 15rem;
  margin-bottom: 10rem;
  color: $colorTexto;
  font-family: $fuentePrincipal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 33rem), 1fr));
    grid-gap: 6rem;
    z-index: 5;

  }

  &__text {
    width: 70%;
    line-height: 1.5;
  }
  .card {
    background-color: $color-card-about;
    position: relative;
    z-index: 4;
    padding: 2rem;
    text-align: initial;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.6rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
    &__title {
      color: $color-card-title;
    }
    &__text {
      font-weight: 300;
      line-height: 1.5;
      font-size: 1.6rem
    }
    &:hover {
      transform: scale(1.03);
      background-color: $colorCardHover;
    }
  }
}
