

  .bubble {
    position: fixed;
    border-radius: 50%;
    animation: move 25s linear infinite;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    z-index: 2;
    @include desktopL{
      cursor: pointer;
    }
    .trigger {
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: .1rem solid $colorTrigger;
      z-index: 2;
      transition: all 0.2s ease;
      opacity: 0;
      transition: transform 0.2s ease, opacity 0.2s ease;
    }
    @for $i from 1 through 10 {
      .trigger:nth-child(#{$i}) {
        transform: rotate(#{$i * 70}deg) translate(0, -2rem) scale(.2);
        @if $i % 2 == 0 {
          width: calc(2rem + #{$i * 0.3}rem);
        }
        @else {
          width: calc(.5rem + #{$i * 0.5}rem);
        }
      }
    }
    &.--active{
      background-color: transparent !important;
      animation: explode .3s ease-in !important;
      cursor: auto;
      .reflex{
        opacity: 0;
        transform: scale(1);
      }
      @for $i from 1 through 10 {
        .trigger:nth-child(#{$i}) {
          opacity: 1;
          transform: rotate(#{$i * 70}deg) translate(0, -3.6rem) scale(.8) ;
          
        }
      }
    }
    
    // javascript bubble
    &:nth-child(1) {
      top: 18rem;
      left: 40rem;
      animation-delay: 0s;
      background-color: $colorJs;
      animation: move1 15s linear infinite;
      .reflex {
        right: 1rem;
        bottom: 0.4rem;
        width: 1.2rem;
        height: 2.4rem;
        transform: rotate(45deg);
      }
    }
    // laravel bubble
    &:nth-child(2) {
      top: 20rem;
      right: 10rem;
      animation-delay: 5s;
      background-color: $colorLaravel;
      animation: move2 14s linear infinite;

      .reflex {
        left: 2rem;
        bottom: 0.4rem;
        width: 2.4rem;
        height: 1rem;
        transform: rotate(-5deg);
      }
    }
    // php bubble
    &:nth-child(3) {
      bottom: 8rem;
      right: 10rem;
      animation-delay: 10s;
      background-color: $colorPhp;
      animation: move3 13s linear infinite;

      .reflex {
        left: 1rem;
        top: 0.4rem;
        width: 1.2rem;
        height: 2.4rem;
        transform: rotate(45deg);
      }
    }
    // Sass bubble
    &:nth-child(4) {
      top: 15rem;
      right: 30rem;
      animation-delay: 15s;
      background-color: $colorSass;
      animation: move4 10s linear infinite;

      .reflex {
        left: 1rem;
        bottom: 0.8rem;
        width: 2.4rem;
        height: 1rem;
        transform: rotate(15deg);
      }
    }
    // react bubble
    &:nth-child(5) {
      top: 30rem;
      left: 5rem;
      animation-delay: 20s;
      background-color: $colorReact;
      animation: move5 17s linear infinite;
      .reflex {
        right: 1rem;
        bottom: 0.4rem;
        width: 1.2rem;
        height: 2.4rem;
        transform: rotate(45deg);
      }
    }

    // vue bubble
    &:nth-child(6) {
      bottom: 20rem;
      left: 40rem;
      animation-delay: 25s;
      background-color: $colorVue;
      animation: move6 15s linear infinite;
      .reflex {
        right: 1rem;
        top: 0.6rem;
        width: 2.4rem;
        height: 1rem;
        transform: rotate(22deg);
      }
    }
    .reflex {
      position: absolute;
      border-radius: 50%;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.582);
    }
    .fa-square-js {
      color: #efd81d;
      opacity: 0.5;
    }
    .fa-laravel {
      color: #f55247;
      opacity: 0.5;
    }
    .fa-react {
      color: #61dafb;
      opacity: 0.5;
    }
    .fa-sass {
      color: #cc6699;
      opacity: 0.5;
    }
    .fa-vuejs {
      color: #42b883;
      opacity: 0.5;
    }
    .fa-php {
      color: #8892bf;
      opacity: 0.5;
    }
  }

@keyframes move1 {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes move2 {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes move3 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50%{
    transform: translateX(10px) translateY(10px);
  }
  
  100% {
    transform: translateX(0) translateY(0px);
  }
}

@keyframes move4 {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes move5 {
    0% {
        transform: rotate(0deg) translate(-10px) rotate(0deg);
      }
      100% {
        transform: rotate(360deg) translate(-10px) rotate(-360deg);
      }
}

@keyframes move6 {
    0% {
        transform: rotate(0deg) translate(-10px) rotate(0deg);
      }
      100% {
        transform: rotate(360deg) translate(-10px) rotate(-360deg);
      }
}
@keyframes explode {
  0% {
    transform:scale(1);
  }
  50%{
    transform:scale(1.4);
  }
  100%{
    transform: scale(.8) ;
  }
}

