
.loader {
  position: fixed;
  background-color: $colorPrimario;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: $colorTexto;
  font-family: $fuentePrincipal;
  font-weight: 600;
    opacity: 1;
    transition: opacity 0.5s ease;
  @for $i from 1 through 7 {
    path:nth-child(#{$i}) {
      @include animation("animationLoader #{$i + 1}s infinite ease")
    }
  }
  &.active{
    opacity: 0;
  }
  svg path{
    fill: $colorTexto;
  }
}
@include keyframes(animationLoader) {
  0% {
    opacity: 1;
    transform: skewX(0);
  }
  50% {
    opacity: 0;
    transform: skewX(-2deg);
  }
  100%{
    transform: skewX(0deg);

  }
}


