.section-projects {
  text-align: center;
  color: white;
  margin-top: 20rem;
  margin-bottom: 20rem;
  position: relative;
  z-index: 2;
  .container-cards {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 38rem), 1fr));
    gap: 12rem;
  }
  @include tablet{
    .badge{
      display: none;
    }
  }
}
.container-card {
  display: flex;
  flex-direction: column;
  text-align: start;
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: $color-card-about;
    border-radius: 0.6rem;

    &.developing {
      .card__image {
        cursor: initial;
        &:hover {
          .placeholder {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }
    &__image {
      width: 100%;
      position: relative;
      cursor: pointer;
      &__principal {
        border-radius: 0.6rem 0.6rem 0 0;
        object-fit: cover;
        height: 100%;
      }
      .placeholder {
        background-color: $colorPlaceholder;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        color: $colorTexto;

        img {
          width: 10rem;
          object-fit: contain;
          box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.363);
          border-radius: 50%;
          border: none;
        }

      }
      &:hover {
        .placeholder {
          opacity: 1;
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 2rem;
      color: $colorTexto;
      &__item {
        width: clamp(2rem, 10vw, 4rem);
        img {
          object-fit: contain;
        }
      }
    }
  }
  .card__type {
    color: #d4aa7d;
    font-size: 1.6rem;
  }
  .card__title {
    font-size: 2.6rem;
    font-weight: 400;
    margin: 1rem 0;
    color: $colorTitles;
    &::after {
      content: "";
      display: block;
      width: 10rem;
      height: 0.3rem;
      background-color: $colorTitles;
      margin: 2rem 0;
    }
  }
  
}

.light-theme{
  .developing .card__image{
    filter: contrast(.8);
  }
}